server:
  port: 8090

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - http://localhost:5173
              - http://localhost:8080
              - http://127.0.0.1:5500
              - http://localhost:5500
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

      discovery:
        locator:
          enabled: false

      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**

        - id: acg-product-service
          uri: lb://acg-product-service
          predicates:
            - Path=/acg-product/**

        - id: acg-comment-service
          uri: lb://acg-rating-service
          predicates:
            - Path=/acg-comment/**

        - id: acg-rating-service
          uri: lb://acg-rating-service
          predicates:
            - Path=/acg-rating/**
        - id: acg-product-cover
          uri: lb://acg-product-service
          predicates:
            - Path=/cover/**
        - id: acg-product-detail-resource
          uri: lb://acg-product-service
          predicates:
            - Path=/resource/**
        - id: acg-product-resource
          uri: lb://acg-product-service
          predicates:
            - Path=/acg-resource/**


jwt:
  secret: "MySuperSecureJwtSecretKeyForHS256_123456"
  expiration: 86400000
  whitelist:
    - /user/login
    - /user/register
